service: notes-uploads

custom:
  # The stage is based on what is passed in to the serverless commmand
  # In nothing is passed in, it fallsback to what is set in the provider section
  stage: ${opt:stage, self:provider.stage}

provider:
  name: aws
  stage: dev
  region: eu-central-1

resources:
  Resources:
    UploadsBucket:
      Type: AWS::S3::Bucket
      Properties:
        # Set the CORS policy
        CorsConfiguration:
          CorsRules:
            - AllowedOrigins:
                - '*'
              AllowedHeaders:
                - '*'
              AllowedMethods:
                - GET
                - PUT
                - POST
                - DELETE
                - HEAD
              MaxAge: 3000

  # Print out the name of the bucket that is created
  Outputs:
    UploadsBucketArn:
      Value:
        Fn::GetAtt:
          - UploadsBucket
          - Arn
      Export:
        Name: notes-${self:custom.stage}-ExtUploadsBucketArn

    # The Bucket name is generated by AWS, so we need to export it
    UploadsBucketName:
      Value:
        Ref: UploadsBucket
      Export:
        Name: notes-${self:custom.stage}-ExtUploadsBucket
